{% extends 'base.html' %}

{% block content %}

    {% include 'components/form_errors.html' %}
    
    <div class="card-custom form-custom auth-form">
        <form method="post">
            {% csrf_token %}
            <legend>Register</legend>
                <div class="form-group-custom">
                    {{ form.username }}
                    <label for="id_username" class="label-custom">
                        <span class="label-text-custom">Username</span>
                    </label>
                </div>
                <div class="form-group-custom">
                    {{ form.first_name }}
                    <label for="id_first_name" class="label-custom">
                        <span class="label-text-custom">First Name</span>
                    </label>
                </div>
                <div class="form-group-custom">
                    {{ form.last_name }}
                    <label for="id_last_name" class="label-custom">
                        <span class="label-text-custom">Last Name</span>
                    </label>
                </div>
                <div class="form-group-custom">
                    {{ form.email }}
                    <label for="id_email" class="label-custom">
                        <span class="label-text-custom">Email</span>
                    </label>
                </div>
                <div class="form-group-custom">
                    {{ form.password }}
                    <label for="id_password" class="label-custom">
                        <span class="label-text-custom">Password</span>
                    </label>
                </div>
                <div class="form-group-custom">
                    {{ form.password2 }}
                    <label for="id_password2" class="label-custom">
                        <span class="label-text-custom">Confirm Password</span>
                    </label>
                </div>
                <div class="text-center mt-3">
                    <input type="submit" value="Register" class="btn-custom">
                </div>
        </form>
    </div>
        
{% endblock content %}