:root{
    --bgColor : #1a1a2e;
    --fgColor : #16213e;

    --mainColor : #0f3460;

    --mainTextColor : #c0c0c0;
    --hoverColor: #ff4a68;

    --textHeaderColor: #ff294c;
    --activeColor : #00ffb3;
    --white : #ffffff;
    --black : #000000
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    /* background: linear-gradient(45deg, #0479ff 0%, #11fb7e 100%); */
    background-color: var(--bgColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p, span{
    color: var(--mainTextColor);
}

h1, h2, h3, h4, h5, h6, legend{
    color: var(--textHeaderColor) !important;
}

.errorlist{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-custom{
    font-weight: 500 !important;
    color: var(--textHeaderColor) !important;
}

.link-custom:hover{
    color: var(--hoverColor) !important;
}

.btn-custom{
    background: var(--textHeaderColor);
    color: var(--white);
    border: none;
    padding: 5px 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-custom{
    background-color: var(--fgColor) !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: var(--mainTextColor);
}

.form-custom{
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 40px;
    margin-top: 50px;
}

.login{
    width: 300px;
}

.form-group-custom{
    position: relative;
    height: 50px;
}

.form-group-custom input{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-left: 2px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--activeColor);
}

.form-group-custom label{
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--mainTextColor);
}

.label-text-custom{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.form-group-custom input:focus + .label-custom .label-text-custom{
    transform: translateY(-120%);
    font-size: 14px;
    color: var(--textHeaderColor);
}

.form-group-custom input:not(:placeholder-shown) + .label-custom .label-text-custom{
    transform: translateY(-120%);
    font-size: 14px;
    color: var(--textHeaderColor);
}

.form-group-custom input:focus + .label-custom{
    border-bottom: 1px solid var(--textHeaderColor);
}
.form-group-custom input:not(:placeholder-shown) + .label-custom {
    border-bottom: 1px solid var(--textHeaderColor);
}

.form-group-custom input:invalid{
    box-shadow: none;
    border: none;
    outline: none;
}

.form-group-custom input:required{
    box-shadow: none;
    border: none;
    outline: none;
}