
{% if form.errors %}
    <div id="popup-message" class="alert col-12 mx-1 bg-custom-fail" style="display: flex; justify-content: space-between;">
        <div id="form_errors">
            <span class="text-custom-fail">
                {% for key, value in form.errors.items %}
                    <span class="text-custom-fail">
                        {% autoescape on %}
                            {{ value }}
                        {% endautoescape %}
                    </span>
                {% endfor %}
            </span>
        </div>
        <button type="button" id="close-btn" class="close" onclick="hideMessageBox()">
            <span class="text-custom-fail">&times;</span>
        </button>
    </div>
    <script>
        const hideMessageBox = () => {
            document.getElementById("popup-message").classList.add('d-none')
        }
    </script>
{% endif %}
